In [1]:
# 1) How-to-count-distance-to-the-previous-zero
#   For each value, 
#     count the difference back to the previous zero (or the start of the Series,whichever is closer)
#     create a new column 'Y'

#   Consider a DataFrame df where there is an integer column 'X'
#   import pandas as pd
#   df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2,5, 0, 3, 4]})
zeroIndices = df.index[df.X == 0]
Yvalues = []
j=len(zeroIndices)-1
for i in reversed(range(len(df.X))):
    if(i< zeroIndices[j]):
        Yvalues.append(i+1)
    elif (i==zeroIndices[j]):
        Yvalues.append(0)
        j-=1
    elif (i>zeroIndices[j]):
        Yvalues.append(i - zeroIndices[j])
        
Yvalues.reverse() 
df["Y"] = Yvalues
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [3]:
# 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series 's' of random numbers.

dateTimeIndex= pd.date_range(start="01/01/2015", end="31/12/2015", freq="B") # Creating a DateTime List for all business days
s = pd.Series(np.random.randint(0,10000,size=len(dateTimeIndex)), index=dateTimeIndex, name="RandNumbers")
print(s)

2015-01-01    2028
2015-01-02    3076
2015-01-05    3071
2015-01-06    8899
2015-01-07    7809
2015-01-08    7384
2015-01-09    5786
2015-01-12    3081
2015-01-13    7741
2015-01-14    7142
2015-01-15    9699
2015-01-16    5176
2015-01-19    8362
2015-01-20    7082
2015-01-21    4098
2015-01-22    9678
2015-01-23    3441
2015-01-26    6340
2015-01-27    1934
2015-01-28    3711
2015-01-29    3109
2015-01-30    5780
2015-02-02    1286
2015-02-03    9891
2015-02-04    3654
2015-02-05    4589
2015-02-06    8862
2015-02-09    2041
2015-02-10    1205
2015-02-11    9291
              ...
2015-11-20    6337
2015-11-23    7877
2015-11-24    7782
2015-11-25     763
2015-11-26    4815
2015-11-27    5230
2015-11-30    3664
2015-12-01    1182
2015-12-02    1455
2015-12-03    4087
2015-12-04    2719
2015-12-07    9740
2015-12-08    4906
2015-12-09    3707
2015-12-10    7611
2015-12-11     251
2015-12-14    3656
2015-12-15    7047
2015-12-16    7421
2015-12-17    4318
2015-12-18    8704
2015-12-21    7988
2015-12-22    3415
2015-12-23    9322
2015-12-24    3598
2015-12-25    9090
2015-12-28    7356
2015-12-29    7816
2015-12-30    7348
2015-12-31    8544
Freq: B, Name: RandNumbers, Length: 261, dtype: int32

In [4]:
# 3) Find the sum of the values in s for every Wednesday

allWednesdaySum = s[s.index.day ==2].sum() #Adding all the random numbers associated with every wednesday of the year
print("Sum of all random numbers on wednesday in 2015: ", allWednesdaySum)
print()

# 4) Average For each calendar month

monthlyAverage = [s[s.index.month == i].mean() for i in range(1,13)] #Calculating the average for every month
print("Average of every Calender Month: ", np.around(monthlyAverage, 2)) # Formatting the averages in list to show precision of 2 decimal points
print()

# 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

datesQuarterHighest = [s.index[s.values== num] for num in [s[s.index.quarter == i].max() for i in range(1,5)]]
print("Dates for which the highest value occured in every quarter in 2015: ")
datesQuarterHighest

Sum of all random numbers on wednesday in 2015:  31058

Average of every Calender Month:  [5655.77 4859.05 4679.95 3524.32 5726.24 6373.41 4287.   3872.81 4250.5
 5329.73 5134.43 5707.87]

Dates for which the highest value occured in every quarter in 2015:

[DatetimeIndex(['2015-02-03'], dtype='datetime64[ns]', freq='B'),
 DatetimeIndex(['2015-05-18'], dtype='datetime64[ns]', freq='B'),
 DatetimeIndex(['2015-09-28'], dtype='datetime64[ns]', freq='B'),
 DatetimeIndex(['2015-12-07'], dtype='datetime64[ns]', freq='B')]